

.nav{
  display: flex;
  justify-content: space-around;
  background-color: var(--background-color2);
  color: var(--primary-color1);
  padding: 16px;
  opacity: 80%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

}

.Name{
  display: flex;
  align-items: center;
  font-family: "amita";
  font-weight: 600;
  font-size: 1.8rem;
  font-style: italic;
  padding: 5px;
}

.navigation{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;

}

.navigation ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
  list-style: none;
  padding: 5px;
  
}

.navigation ul li {
  padding: 5px 25px;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-size: 1rem;
  font-style: italic;
  color: var(--primary-color1);
  gap: 15px;
}



.mobile_menu{
  font-size: 1.3rem;
  color: var(--primary-color1);
}