

.nav{
  display: flex;
  justify-content: space-around;
  background-color: var(--background-color2);
  color: var(--primary-color1);
  padding: 16px;
  opacity: 80%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

}

.Name{
  display: flex;
  align-items: center;
  font-family: "amita";
  font-weight: 600;
  font-size: 1.8rem;
  font-style: italic;
  padding: 5px;
}

.navigation{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;

}

.navigation ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
  list-style: none;
  padding: 5px;
  
}

.navigation ul li {
  padding: 5px 25px;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-size: 1rem;
  font-style: italic;
  color: var(--primary-color1);
  gap: 15px;
}

.menu-icon{
  display: none;
  
}

.mobile_menu{
  font-size: 1.3rem;
  color: var(--primary-color1);
  
}

@media (max-width: 1000px) {
.nav{
  background-color: rgb(141, 136, 111);
} 

.nav:hover{
  transition: transform 0.5s ease-in-out, right 0.5s ease-in-out;
  height: 60px;
}

  .navigation {
    padding: 15px 0;
    
  }

  .navigation ul {
    position: fixed;
    top: 0;
    right: -200px; /* Initially hidden off-screen */
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full screen height for mobile */
    background-color: var(--background-color1);
    width: 200px;
    padding-top: 70px;
    transition: transform 0.5s ease-in-out, right 0.5s ease-in-out; /* Smooth slide-in effect */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3); /* Add shadow for better visibility */
  }

  .navigation ul.nav-links-mobile {
    right: 0; /* Slide menu into view when active */
  }

  .navigation ul li {
    display: block;
    margin: 15px 30px;
    color: var(--text-color1);
    font-weight: 600;
    font-size: 20px;
  }

  
  .menu-icon {
    display: block;
    width: 30px; /* Slightly larger for better tap targets */
    height: 30px;
    cursor: pointer;
    z-index: 10000;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent; /* Remove default background */
    color: white; /* Change the color of the icon to white */
  }

  .hide-menu {
    right: -200px; /* Slide menu back out of view */
  }

  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
    z-index: 999;
    display: none;
    transition: opacity 0.5s ease;
  }

  .menu-overlay.active {
    display: block;/* Show overlay when menu is active */
  }
}

