.popular{
  padding-top: 20px;
}

.popular-title h2{
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--text-color1); 
  margin: 5px 0;
  padding-bottom: 10px;
  text-transform: capitalize;
  text-align: center;
}

.popular-title p{
  font-size: 16px;
  color: var(--text-color3);
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: center;
  
}



/* Styles for the "See all tours" button */


/* Hover effect */
.tours-button:hover {
  background-color: var(--button-hover1); /* Change color on hover */
  transform: scale(1.05);
}

/* Click effect */
.tours-button:active {
  transform: scale(0.98);
  background-color: var(--button-hover1); /* A slightly darker shade */
}

/* Centering the button inside its parent */
.popular {
  text-align: center;
}

/* Hide the button on smaller screens *//*
@media (max-width: 768px) {
  .tours-button {
    display: none;
  }
}*/
/* Add more styles as needed */
.tours-button {
  display: inline-block;
  padding: 10px 20px;
 
  
  color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-bottom: 50px;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--primary-color2); /* Temporary to test visibility */
}

