.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  gap: 18px; /* Space between image and text */
}

.about-image img {
  max-width: 600px; /* Set max-width for the image */
  width: 100%; /* Ensure responsiveness */
  height: auto;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px var(--box-shadow); /* Subtle shadow for depth */
}

.about-text {
  max-width: 620px; /* Text width control */
}

.about-text h4 {
  font-size: 18px;
  color: var(--text-color3); /* Subtle color for the heading */
  margin-bottom: 20px;
  text-transform: capitalize;
}

.about-text h2 {
  font-size: 36px;
  color: var(--text-color1); /* Main text color */
  margin-bottom: 20px;
  line-height: 1.2;
  text-transform: capitalize;
}

.about-text h2 .highlight {
  color: var(--primary-color2);
}

.about-text p {
  font-size: 16px;
  color: var(--text-color3);
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: justify;
}

.about-text .stats {
  display: flex;
  gap: 30px;
  margin-top: 60px;
  text-transform: capitalize;
}

.about-text .stat {
  text-align: center;
}

.about-text .stat h3 {
  font-size: 28px;
  color: var(--text-color1);
  margin-bottom: 5px;
}

.about-text .stat p {
  font-size: 14px;
  color: var(--text-color3);
}

/* Responsive Design */
@media (max-width: 1000px) {
  .about {
    flex-direction: row; /* Keep image and text side-by-side */
    align-items: center;
    gap: 10px;
    padding: 20px;
  }

  .about-image img {
    max-width: 100%;
    order: 1; /* Adjust image width */
  }

  .about-text {
    max-width: 100%; /* Adjust text width */
    text-align: left;
    order: 2;/* Keep text aligned to the left */
  }

  .about-text p {
    text-align: justify;
  }

  .about-text .stats p{
    text-align: center;
  }
}

@media (max-width: 480px) {
  .about {
    display: flex;
    flex-direction: column; /* Stack the image and text vertically */
    align-items: center;
    padding: 10px;
  }

  .about-image img {
    order: 2;
    max-width: 100%; /* Full-width image for smaller screens */
    margin-bottom: 20px;
    
  }

  .about-text {
    order: 1;
    max-width: 100%; /* Allow full width for text */
    text-align: justify; 
    /* Align text for better readability */
  }

  .about-text h2 {
    font-size: 24px;
    /* Reduce heading font size */
  }

  
  .about-text p {
    font-size: 14px; /* Make paragraph text smaller */
    line-height: 1.6; 
    /* Adjust line height */
  }

  .about-text .stats {
    flex-direction: column; /* Stack stats vertically */
    gap: 10px; 
    /* Reduce gap */
  }
}
